body {
    background-color: lightgrey;
}

div {
    background-color: darkseagreen;
    text-align: center;
}

h3 {
    color: indigo;
    font-size: 200%;
}

img {
    float: left;
    clear: left;
    padding: 10px;
}

#table_header {
    font-weight: bold;
    font-family: bold;
    font-size: 120%;
}

table {
    background-color: papayawhip;
    color: maroon;
    border: 2px solid maroon;
    border-spacing: 1px;
    border-radius: 20px 20px 0px 0px;
    font-family: Arial, Verdana, serif;
    font-size: 20px;
    line-height: 30px;
    width: 60%;
    margin: auto;
}

th {
    padding: 0.3em;
    text-align: center;
    text-shadow: -1px -1px 1px maroon;
    letter-spacing: 0.1em;
    background: -webkit-linear-gradient(aliceblue, plum);
    background: -moz-linear-gradient(aliceblue, plum);
    background: -o-linear-gradient(aliceblue, plum);
    background: linear-gradient(aliceblue, plum);
    border: 1px solid maroon;
    border-bottom: 3px solid maroon;
}

th:first-child {
    border-radius: 20px 0px 0px 0px;
}

th:last-child {
    border-radius: 0px 20px 0px 0px;
}

tr:nth-child(odd) {
    background: #f9ff83;
}

tr:nth-child(even) {
    background: #bdffee;
}

tr:first-child {
    border: 2px solid maroon;
    border-radius: 20px 20px 0px 0px;
}

tr {
    opacity: 0.75;
}

tr:hover {
    opacity: 1;
}

td {
    text-align: center;
    padding: 0.3em;
    border: 1px solid maroon;
    border-radius: 2px;
}

td:first-child, th:first-child {
    text-align: left;
}

p.pfooter {
    font-weight: bold;
    font-family: "Bookman Old Style";
    font-size: 200%;
    text-align: center;
}